@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import "tailwindcss";

/* Remove shadow from navigation buttons */
.image-gallery-icon.image-gallery-right-nav,
.image-gallery-icon.image-gallery-left-nav {
    box-shadow: none !important;
    filter: none !important;
}

/* Smooth transitions */
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* Dropdown animation */
.transition-all {
    transition-property: all;
}

.aspect-ratio-box {
    position: relative;
    width: 100%;
    padding-bottom: 66%;
    overflow: hidden;
}

.aspect-ratio-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
}