/* nav.css */
:root {
  /*--nav-background-color: #e8d3de; !* Previous --nav-background-color color *!*/
  --nav-background-color: #e3c2ce;
  --nav-link-color: #6b4f57; /* Darker shade of the background color */
  --nav-link-hover-color: #b56576; /* Complementary color */
  --nav-link-underline-color: #b56576; /* Same as hover color */
  --current-link-color: #b56576; /* Same as hover color */
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.nav-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  background-color: var(--nav-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
}

.felho {
  width: 50%;
  max-width: 400px;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav-brand {
  font-family: "Cursive", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ff6347; /* Tomato color */
  position: absolute;
  left: 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-link {
  margin: 0 10px;
  color: var(--nav-link-color);
  position: relative;
  text-decoration: none;
}


.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--nav-link-underline-color);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.current::after {
  width: 100%;
}

.current {
  font-weight: bold;
  color: var(--current-link-color);
}

.nav-brand {
  margin-left: 16px;
  font-family: "Cursive", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #b56576;
  margin-right: auto;
}