/* src/styles/nav.css */
:root {
    --nav-background-color: #e3c2ce;
    --nav-link-color: #6b4f57;
    --nav-link-hover-color: #b56576;
    --current-link-color: #b56576;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.nav-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    background-color: var(--nav-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
}

.felho {
    width: 50%;
    max-width: 400px;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav-brand {
    font-family: "Cursive", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ff6347;
    position: absolute;
    left: 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-link {
    margin: 0 10px;
    color: var(--nav-link-color);
    text-decoration: none; /* Remove underlining */
    position: relative; /* Ensure the dropdown is positioned relative to this element */
    cursor: pointer;
}

.nav-link.current {
    color: var(--current-link-color);
}

.nav-brand {
    margin-left: 16px;
    font-family: "Cursive", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #b56576;
    margin-right: auto;
}

.dropdown-menu {
    display: none; /* Hide by default */
    position: absolute;
    top: 100%; /* Position below the parent */
    left: 0;
    background-color: var(--nav-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    z-index: 1000;
}

.nav-link:hover .dropdown-menu,
.nav-link:focus .dropdown-menu {
    display: block; /* Show on hover or focus */
}

.dropdown-menu .nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: normal; /* Remove bold by default */
}

.nav-link:hover {
    color: var(--current-link-color);
    background-color: transparent; /* Remove background color change */
}

.nav-link.current {
    font-weight: bold;
}

.dropdown-menu .nav-link:hover {
    color: var(--current-link-color);
}

.dropdown-item p {
    margin: 0;
}